<div class="container">
  <div class="form-container">
    <mat-card class="form-card" appearance="outlined">
      <mat-card-header class="form-card-header">
        <mat-card-title>Registration</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form">
          <mat-form-field class="form-field" appearance="outline">
            <input matInput placeholder="First name" formControlName="firstName"/>
            <mat-icon matPrefix>person</mat-icon>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <input matInput placeholder="Last name" formControlName="lastName"/>
            <mat-icon matPrefix>person</mat-icon>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <input matInput placeholder="Email" formControlName="email"/>
            <mat-icon matPrefix>email</mat-icon>
            @if (form.controls['email'].hasError('email')) {
              <mat-error>Invalid email</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <input
              matInput
              placeholder="Phone"
              mask=" (00) 000 00 00"
              [prefix]="phoneNumberInputPrefix"
              [showMaskTyped]="true"
              formControlName="phoneNumber"
            />
            <mat-icon matPrefix>phone</mat-icon>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <input
              matInput
              placeholder="Password"
              [type]="isPasswordHidden ? 'password' : 'text'"
              formControlName="password"
            />
            <mat-icon matPrefix>key</mat-icon>
            <button
              mat-icon-button
              matSuffix
              (click)="isPasswordHidden = !isPasswordHidden"
              type="button"
            >
              <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (form.controls['password'].hasError('minlength')) {
              <mat-error>Password should contain at least 8 characters</mat-error>
            }
          </mat-form-field>
          <button
            mat-flat-button
            class="submit-button"
            type="submit"
            (click)="onRegister()"
            [disabled]="!form.valid"
          >
            Register
          </button>
          <div class="hr-sect">or</div>
          <button mat-flat-button class="login-option">
            google
            <mat-icon>facebook</mat-icon>
          </button>
          <button mat-flat-button class="login-option">
            facebook
            <mat-icon>facebook</mat-icon>
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
