<div class="advantages-container">
  <p class="advantages-title">Advantages of Book-and-Drive</p>
  <div class="advantage-item">
    <img src="https://picsum.photos/350/200/?random=4" alt="" class="image">
    <div class="description">
      <p class="title">Affordable</p>
      <p class="text">Pay for the distance traveled and rental time — we handle everything else</p>
    </div>
  </div>
  <div class="advantage-item">
    <img src="https://picsum.photos/350/200/?random=5" alt="" class="image">
    <div class="description">
      <p class="title ">Flexible</p>
      <p class="text">Book-and-Drive cars are available 24/7, so you don't need to plan ahead.</p>
    </div>
  </div>
  <div class="advantage-item">
    <img src="https://picsum.photos/350/200/?random=6" alt="" class="image">
    <div class="description">
      <p class="title ">Quick and easy</p>
      <p class="text">Lorem ipsum is a dummy or placeholder text commonly used in graphic design</p>
    </div>
  </div>
</div>