<swiper-container loop="true" navigation="true" speed=700>
  <swiper-slide lazy="true">
    <img src="https://picsum.photos/1980/700/?random=1" alt="Car" class="responsive" loading="lazy">
  </swiper-slide>
  <swiper-slide lazy="true">
    <img src="https://picsum.photos/1980/700/?random=2" alt="Car" class="responsive" loading="lazy">
  </swiper-slide>
  <swiper-slide lazy="true">
    <img src="https://picsum.photos/1980/700/?random=3" alt="Car" class="responsive" loading="lazy">
  </swiper-slide>
</swiper-container>