.toolbar-spacer {
  flex: 1 1 auto;
}

.container {
  background-color: white;
  height: calc(100% - 64px);

  .side-menu {
    width: 210px;

    .nav-item {
      padding-left: 25px;
    }
  }

  .content {
    padding: 30px;
  }
}